.item1 {
  grid-area: myArea;
}

.grid-container {
  display: grid;
  grid-template:
    "myArea myArea . . ."
    "myArea myArea . . ."
    "myArea myArea . . .";
  grid-gap: 10px;
  background-color: #2196f3;
  padding: 10px;
}
